[MASTER]
ignore=migrations
ignore-patterns=.*\\migrations\\.*,_old_.*,.*_bak\.py

[FORMAT]
max-line-length=160

[MESSAGES CONTROL]
disable=
    missing-docstring,
    too-few-public-methods,
    broad-exception-caught,
    duplicate-code
